.main {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.layout-header{
    width:100%;
    height:80px;
    display:flex;
    justify-content: end;
}
.main-container{
    flex-direction: column;
    margin-left: 300px;
    width:calc(100% - 300px);
    padding:30px;
}
.logout-btn{
    height: 70%;
    width: 150px;
}
