td,th{
    padding:20px;
    font: normal normal normal 16px/22px Nunito Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
text-align: center;
}
thead{
    background-color: #EAF9FF;
    border-radius: 15px;
}
th{
    font-weight: bolder;
}
.status{
    margin: 20px 5px;
    border-radius: 30px;
}
.status--ACTIVE{
    background-color: #D3F4BE;
;
}
.status--INACTIVE{
    background-color:  #FFBFBF;

;
}
.status--PROBATION{
    background-color: #F5ECB8;


}

/* .table-body{
    display:flex;
 
    flex-direction: column;
    gap:8px;

} */
 table{
                border-collapse: separate;
                 border-spacing: 0 20px;
                 width:100%;

 }
.table-row{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #c9c2c229;
border-radius: 5px;
opacity: 1;
          
}
.action-btns{
    display: flex;
    gap: 20px;
    justify-content: center;

    
}
.edit-btn,.delete-btn{
    width: 15px;
height: 17px;
}